<div class="container">
	<div class="d-flex row">
		<div *ngFor="let p of homeService.homeProducts" class="col-md-3">
			<div class="card card-body productBox" (click)="goToProductDetails(p);">
				<div class="productImg">
					<img src="{{p.thumbnail}}" alt="" height="160" width="160" style="display: block; margin: auto;">
				</div>
				<div class="productInfo" style="margin-top: 30px;">
					<h3 class="text-center">{{p.name}}</h3>
					<h3 class="text-center text-red">৳{{p.price}}</h3>
				</div>
			</div>
		</div>
		<p *ngIf="homeService.homeProducts?.length===0">No Proudct Found!</p>
	</div>
</div>